@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-colour{ background: #EBEBDF}

.colour-btns{background: #C19570;}

.font-main {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

.font-titles{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #01244A;
}

.font-secondary-cl{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #5A6671;
}