@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-color{ background: #EEEEEE}

.secondary-color{background: #7193E3;}

.third-color{background: #E97258;}

.font-side{
    font-family: "Roboto", sans-serif;
    color: #272727;
    font-weight: 600;
}

.font-titles{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #272727;
}

.font-secondary-cl{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #3B3B3B;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 100%;
    object-fit: cover;
}

.swiper-slide2 {
    background: #fff;
  }